.chat-main
  .chat-main__group-info
    .chat-main__group-info__left-box
      .chat-main__group-info__left-box__name
        test group1
      .chat-main__group-info__left-box__member
        Member :
    .chat-main__group-info__edit
      = link_to 'Edit', "#", class: "chat-main__group-info__edit__edit-btn"

  .messages
    = render @messages #なぜかカリキュラムの通りでは呼べなかった eachで記述

  .form
    = form_for [@group, @message] do |f|
      .input-form
        = f.text_field :content, class: 'input-form__text', placeholder: 'type a message'
        = f.label :image, class: 'input-form__image' do
          = icon('fas', 'image')
          = f.file_field :image, class: 'input-form__image__file'
        = f.submit 'Send', class: 'submit-btn'
